div#result
  div.result-container
    div#bunny
    each donor in donors
      //- div.bauble-container(style=`bottom:0; left:${donor.x}px; transform:translateZ(-${donor.y}px);`)
      div.bauble-container(style=`left:${donor.x}px; top:${donor.y}px;`)
        img.bauble(
          src=`https://s3-us-west-2.amazonaws.com/afa-tree-generator/egg-${donor.color}.png`
          alt=donor.name
          width=`${donor.width} px`
        )
        div.bauble-tooltip(data-balloon=`${donor.name}` data-balloon-pos="bottom")